@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Outfit", serif;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #1a2a33;
}
.f-r {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 8px;
	margin-bottom: 32px;
}
.choose-player {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #1f3641;
	border-radius: 15px;
	-webkit-box-shadow: 0px 8px 0px 0px #10212a;
	box-shadow: 0px 8px 0px 0px #10212a;
	padding: 24px;
	width: 100%;
	margin-bottom: 32px;
}
h1 {
	color: #a8bfc9;
	font-weight: 700;
	font-size: 16px;
	text-align: center;
}
a {
	text-decoration: none;
	color: #1a2a33;
}
.choose-div {
	display: flex;
	flex-direction: row;
	gap: 5px;
	padding: 9px;
	width: 100%;
	background-color: #1a2a33;
	border-radius: 10px;
	margin: 24px 0 17px 0;
}
.choose-div-pion {
	cursor: pointer;
	padding: 11px 50px;
	width: 100%;
	background-color: #1a2a33;
	border: none;
}
.choose {
	background-color: #a8bfc9;
	border: none;
	border-radius: 10px;
}
.remember {
	font-weight: 400;
	font-size: 14px;
	color: #a8bfc9;
}
.second-sect {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.cpu-btn,
.player-btn {
	width: 100%;
	padding: 14px 0;
	cursor: pointer;
	color: #1a2a33;
	font-size: 16px;
	font-weight: 700;
	border: none;
	border-radius: 15px;
}
.cpu-btn {
	background-color: #f2b137;
	-webkit-box-shadow: 0px 8px 0px 0px #cc8b13;
	box-shadow: 0px 8px 0px 0px #cc8b13;
}
.player-btn {
	background-color: #31c3bd;
	-webkit-box-shadow: 0px 8px 0px 0px #118c87;
	box-shadow: 0px 8px 0px 0px #118c87;
}



@media screen and (min-width: 376px) {
	main {
		width: 50%;
	}
}

@media screen and (min-width: 768px) {
	main {
		width: 30%;
	}
}
